body {
    color: #00132a;
    background-color: #eeffee;
}

.container {
    margin-top: 20px;
    margin-bottom: 30px;
}

#graph_controls {
    margin-bottom: 10px;
}

#graph_area {
    width: 600px;
    height: 480px;
    background-color: white;
    border: 1px solid #00132a;
}

footer {
    margin-top: 20px;
}

.node {
    width: 30px;
    height: 30px;
    background-color: #00132a;
    border-radius: 15px;
    font-weight: bold;
    font-size: large;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
    text-align: center;
    z-index: 3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.node.selected {
    border: 2px solid red;
}

.edge {
    position: absolute;
    z-index: 2;
    border: 1px solid #00132a;
}

.node_input {
    width: 50px;
}

.node_val_negative {
    color: red;
}

.node_val_positive {
    color: white;
}

.graph_area_balanced .node {
    background-color: green;
}
