body {
    color: #00132a;
    background-color: #ccffff;
}

#graph_area {
    width: 600px;
    height: 480px;
    background-color: #ffffff;
    border: 1px solid #00132a;
}

.node {
    width: 30px;
    height: 30px;
    background-color: #00132a;
    border-radius: 15px;
    color: #ffffff;
    font-weight: bold;
    font-size: large;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
    text-align: center;
    z-index: 3;
}

.edge {
    position: absolute;
    z-index: 2;
    border: 1px solid #00132a;
}

.node_input {
    width: 50px;
}
